APP_NAME=LexCare AI
ENVIRONMENT=development
DEBUG=false

HOST=0.0.0.0
PORT=8000
RELOAD=true

LOG_LEVEL=INFO
CORS_ORIGINS=*

OPENAI_API_BASE="..."
OPENAI_API_VERSION="..."
OPENAI_DEPLOYMENT_NAME="..."
OPENAI_API_KEY="..."
OPENAI_API_TYPE='azure'
OPENAI_EMBEDDINGS_NAME="..."

VECTOR_STORE=chroma
CHROMA_PATH=./chroma_db